<div class="choNghiNoiBat container">
  <h4>Những chỗ nổi bật khuyến nghị cho bạn</h4>
  <p-tabView class="alo">
    <p-tabPanel header="Hồ Chí Minh">
      <div class="ChoNghiNoiBatItem">
        <div style="width: 100%; height: 350px; margin: 0 auto">
          <app-sliderchonghinoibat [donViId]="8"></app-sliderchonghinoibat>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Đà Nẵng">
      <div class="ChoNghiNoiBatItem">
        <div style="width: 100%; height: 350px; margin: 0 auto">
          <app-sliderchonghinoibat [donViId]="5"></app-sliderchonghinoibat>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Đà Lạt">
      <div class="ChoNghiNoiBatItem">
        <div style="width: 100%; height: 350px; margin: 0 auto">
          <app-sliderchonghinoibat [donViId]="4"></app-sliderchonghinoibat>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Huế">
      <div class="ChoNghiNoiBatItem">
        <div style="width: 100%; height: 350px; margin: 0 auto">
          <app-sliderchonghinoibat [donViId]="10"></app-sliderchonghinoibat>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Hà Nội">
      <div class="ChoNghiNoiBatItem">
        <div style="width: 100%; height: 350px; margin: 0 auto">
          <app-sliderchonghinoibat [donViId]="7"></app-sliderchonghinoibat>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
