<div class="choNghiNoiBat container">
  <h4>Những chỗ nổi bật khuyến nghị cho bạn</h4>
  <p-tabView class="alo">
    <p-tabPanel header="Hồ Chí Minh">
      <div class="ChoNghiNoiBatItem">
        <p>Hồ Chí Minh</p>
        <div style="width: 100%; height: 350px; margin: 0 auto">
          <app-sliderchonghinoibat [donViId]="8"></app-sliderchonghinoibat>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Đà Nẵng">
      <div class="ChoNghiNoiBatItem">
        <p>Đà Nẵng</p>
        <div style="width: 100%; height: 350px; margin: 0 auto">
          <app-sliderchonghinoibat [donViId]="12"></app-sliderchonghinoibat>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Hải Phòng">
      <div class="ChoNghiNoiBatItem">
        <p>Hải Phòng</p>
        <div style="width: 100%; height: 350px; margin: 0 auto">
          <app-sliderchonghinoibat [donViId]="15"></app-sliderchonghinoibat>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Nha Trang">
      <div class="ChoNghiNoiBatItem">
        <p>NhaTrang</p>
        <div style="width: 100%; height: 350px; margin: 0 auto">
          <app-sliderchonghinoibat [donViId]="14"></app-sliderchonghinoibat>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Hà Nội">
      <div class="ChoNghiNoiBatItem">
        <p>Hà Nội</p>
        <div style="width: 100%; height: 350px; margin: 0 auto">
          <app-sliderchonghinoibat [donViId]="7"></app-sliderchonghinoibat>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
