a {
  color: white;
  font-weight: bold;
}
.nav-header-top {
  background-color: darkblue;
}
.KhauHieu {
  color: white;
  margin-right: 80px;
}
.KhauHieu h6 {
  font-weight: 100;
}
.LaBan {
  color: white;
  font-size: 20px;
  padding-right: 5px;
}
