<div class="slider">
  <div
    (click)="goToPrevious()"
    class="card flex align-items-center gap-1 cardLeftArrow leftArrow"
  >
    ❰
  </div>

  <div
    (click)="goToNext()"
    class="rightArrow card flex align-items-center gap-1 cardRightArrow"
  >
    ❱
  </div>

  <div
    *ngFor="let item of [].constructor(6); let i = index"
    class="slide"
    [ngStyle]="{
      'background-image': getCurrentSlideUrl((currentIndex + i) % slides.length)
    }"
    (click)="onSlideClick((currentIndex + i) % slides.length)"
    tabindex="0"
  >
    <div class="slide-content">
      <h5 class="titleLoaiChoNghi">
        {{ slides[(currentIndex + i) % slides.length].title }}
      </h5>
      <p class="numberLoaiChoNghi">
        Dân số:
        {{ slides[(currentIndex + i) % slides.length].number }}
      </p>
    </div>
  </div>
</div>

<button (click)="GetDiaDiem()">Get all</button>

<div
  class="slide"
  *ngFor="let item of slides2; let i = index"
  [ngStyle]="{
    'background-image':
      'url(\'/assets/img/img-diadanh/' + item.tenFileAnhDD + '\')'
  }"
>
  <div>Ten: {{ item.tenDiaDiem }}</div>
  <div>Thongtinvtri: {{ item.thongTinViTri }}</div>
</div>
