.slide {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background-size: cover;
  background-position: center;
  margin: 0 40px;
}
.slider {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
}
.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 45px;
  color: dodgerblue;
  z-index: 1;
  cursor: pointer;
}

.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 45px;
  color: dodgerblue;
  z-index: 1;
  cursor: pointer;
}
.slide-content {
  color: crimson;
  background-color: cornsilk;
  border-radius: 10px;
  border: 1px solid crimson;
  margin-left: -50px;
  padding: 4px 15px;
  width: fit-content;
}
.slide-content p {
  margin: 0;
  font-weight: bold;
}
