<div class="slider">
  <div
    (click)="goToPrevious()"
    class="card flex align-items-center gap-1 cardLeftArrow leftArrow"
  >
    ❰
  </div>

  <div
    (click)="goToNext()"
    class="rightArrow card flex align-items-center gap-1 cardRightArrow"
  >
    ❱
  </div>

  <div
    *ngFor="let item of [].constructor(4); let i = index"
    class="slide"
    [ngStyle]="{
      'background-image': getCurrentSlideUrl(
        (currentIndex + i) % slideschonghinoibat.length
      )
    }"
    (click)="onSlideClick((currentIndex + i) % slideschonghinoibat.length)"
    tabindex="0"
  >
    <div class="slide-content">
      <p class="numberLoaiChoO">
        {{
          slideschonghinoibat[(currentIndex + i) % slideschonghinoibat.length]
            ?.tenDonVi
        }}
        chỗ ở
      </p>
    </div>
  </div>
</div>
