<div class="slider">
  <div
    *ngFor="let item of [].constructor(4); let i = index"
    class="slide"
    [ngStyle]="{
      'background-image': getCurrentSlideUrl(
        (currentIndex + i) % slideschonghinoibat.length
      )
    }"
    (click)="onSlideClick((currentIndex + i) % slideschonghinoibat.length)"
    tabindex="0"
  >
    <div class="slide-content">
      <p class="TenLoaiDonVi">
        {{
          slideschonghinoibat[(currentIndex + i) % slideschonghinoibat.length]
            ?.hinhThucPhong
        }}-{{
          slideschonghinoibat[(currentIndex + i) % slideschonghinoibat.length]
            ?.tenDonVi
        }}
      </p>
      <p class="DiaDiem">
        <i class="pi pi-map-marker"></i>
        Địa chỉ:
        {{
          slideschonghinoibat[(currentIndex + i) % slideschonghinoibat.length]
            ?.diaDiem
        }}
      </p>
    </div>
  </div>
</div>
