<div class="slider">
  <div
    *ngFor="let item of [].constructor(4); let i = index"
    class="slide card"
    [ngStyle]="{
      'background-image': getCurrentSlideUrl(
        (currentIndex + i) % slideschonghinoibat.length
      )
    }"
    (click)="onSlideClick((currentIndex + i) % slideschonghinoibat.length)"
    tabindex="0"
  >
    <div class="slide-content">
      <p class="TenLoaiDonVi">
        {{
          slideschonghinoibat[(currentIndex + i) % slideschonghinoibat.length]
            ?.hinhThucPhong
        }}-{{
          slideschonghinoibat[(currentIndex + i) % slideschonghinoibat.length]
            ?.tenDonVi
        }}
      </p>

      <div class="DiaDiem flex">
        <p-rating
          [iconOnStyle]="{
            color: '#FFD200',
            fontSize: '15px'
          }"
          [ngModel]="
            slideschonghinoibat[(currentIndex + i) % slideschonghinoibat.length]
              ?.danhGiaSaoTb
          "
          [readonly]="true"
          [cancel]="false"
        ></p-rating>

        <i class="pi pi-map-marker"></i>

        {{
          slideschonghinoibat[(currentIndex + i) % slideschonghinoibat.length]
            ?.diaDiem
        }}
      </div>
    </div>
  </div>
</div>
