* {
  margin: 0;
  padding: 0;
}
.slide {
  width: 270px;
  height: 200px;
  background-size: cover;
  background-position: center;
  margin: 0 10px;
}
.slider {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  padding-top: 13px;
}

.slide-content {
  border-radius: 10px;
  padding: 200px 0 0 0;
  display: grid;
}
.titleLoaiChoO {
  margin-top: 20px;
  margin-bottom: 0;
}
.TenLoaiDonVi {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
}
.DiaDiem {
  font-size: 14px;
  color: dodgerblue;
}
