<div class="container">
  <div style="padding: 20px 7.5px">
    <h4>Bạn vui lòng kiểm tra lại đặt chỗ</h4>
    <p>Vui lòng xem lại chi tiết trước khi thanh toán</p>
  </div>
  <div class="row">
    <div class="col-lg-7">
      <!-- Chi tiết phòng thời gian -->
      <div class="PhongConTrongList">
        <div class="PhongConTrongListItem card">
          <div>
            <h4>
              {{ selectedloaiphong?.tenDonVi }}
            </h4>
            <hr />
            <div class="row">
              <div class="col-lg-4">
                <p>Ngày nhận</p>
                <p>
                  <b>{{ infoBooking?.ngayDat }}</b>
                </p>
              </div>
              <div class="col-lg-4">
                <p>Ngày trả</p>
                <p>
                  <b>{{ infoBooking?.ngayTra }}</b>
                </p>
              </div>
              <div class="col-lg-4">
                <p>Tổng số đêm</p>
                <p><b>?</b></p>
              </div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-lg-5">
              {{ selectedloaiphong?.tenLoaiPhong }} <br />
              <i class="fa-solid fa-bed"></i>
              {{ selectedloaiphong?.sucChuaPhong }}
              người
            </div>

            <div class="col-lg-7">
              Tiện nghi:{{ selectedloaiphong?.tienNghi }}
            </div>
          </div>

          <hr />
          <div class="row">
            Mô tả:
            {{ selectedloaiphong?.moTaPhong }}
            <br />
          </div>
        </div>
        <br /><br />
      </div>
      <!-- End Chi tiết phòng thời gian -->

      <!-- Card Chính sách -->
      <div class="card XacNhanDatCho">
        <h6>Chính sách khách sạn & phòng</h6>
        <p></p>
      </div>
      <div class="card XacNhanDatCho">
        <h6>Chính sách lưu trú</h6>
        <p></p>
      </div>
      <div class="card XacNhanDatCho">
        <h6>Chi tiết giá</h6>
        <div class="row">
          <div class="col-lg-9">Tổng tiền</div>
          <div class="col-lg-3">
            <h6 style="color: red">Giá : ... VNĐ</h6>
          </div>
        </div>
        <hr />
        <div>
          <div>Giá theo đêm: {{ selectedloaiphong?.giaPhongTheoDem }} VNĐ</div>
          <div>Giá dịch vụ: ...</div>
        </div>
        <hr />
        <div class="row">
          <div class="col-lg-9">Khách hàng ... nhận được ...</div>
          <div class="col-lg-3">Tìm hiểu thêm</div>
        </div>
      </div>

      <!--End Card Chính sách -->

      <p-button
        label="Xác nhận"
        (click)="addClientBookRoom()"
        styleClass="p-button-secondary"
      ></p-button>
    </div>

    <div class="col-lg-5 col-sm-12">
      <!-- InforNguoiDat -->

      <div class="card XacNhanDatCho">
        <h6>Chi tiết người liên lạc</h6>
        <hr />
        <p>
          Họ tên : <b>{{ infoClient?.hoTen }}</b>
        </p>
        <p>
          Số điện thoại : <b>(+84) 0{{ infoClient?.sdt }}</b>
        </p>
      </div>
      <div class="card XacNhanDatCho">
        <h6>Chi tiết khách ở</h6>
        <hr />
        <p>
          Tên khách : <b>{{ infoClient?.hoTen }}</b>
        </p>
        <p>
          CCCD/Hộ chiếu : <b>{{ infoClient?.cccd }}</b>
        </p>
        <p>
          Email : <b>{{ infoClient?.email }}</b>
        </p>
        <p>
          Số điện thoại : <b>(+84) 0{{ infoClient?.sdt }}</b>
        </p>
        <p>
          Yêu cầu đặc biệt : <b>{{ infoClient?.yeuCauDacBiet }}</b>
        </p>
      </div>

      <!-- End InforNguoiDat -->
    </div>
  </div>
</div>
