.slide {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-size: cover;
  background-position: center;
  margin: 0 40px;
}
.slider {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
}
.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 45px;
  color: dodgerblue;
  z-index: 1;
  cursor: pointer;
}

.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 45px;
  color: dodgerblue;
  z-index: 1;
  cursor: pointer;
}
