<div class="intro-header">
  <div class="container MoTa">
    <h1>Tìm chỗ nghỉ tiếp theo</h1>
    <h4>Tìm ưu đãi khách sạn, chỗ nghỉ, dạng nhà và nhiều hơn nữa...</h4>
  </div>
</div>
<div class="container TimPhongContainer">
  <form (ngSubmit)="onSubmit()" #f="ngForm" style="margin-top: -35px">
    <div
      ngModelGroup="timkiemData"
      #timkiemData="ngModelGroup"
      class="TimPhong"
    >
      <div class="">
        <i class="pi pi-building"></i>

        <p-autoComplete
          class="TimDiaDiem form-group"
          [(ngModel)]="selectedDiadiem"
          [dropdown]="true"
          [suggestions]="filteredDiadiems"
          (completeMethod)="filterDiadiem($event)"
          field="name"
          name="selectedDiadiem"
          placeholder="Nhập địa điểm"
        ></p-autoComplete>
      </div>

      <div class="">
        <p-calendar
          class="form-group"
          [(ngModel)]="rangeDates"
          selectionMode="range"
          [readonlyInput]="true"
          name="rangeDates"
          [showIcon]="true"
          placeholder="Ngày nhận - trả phòng"
        ></p-calendar>
      </div>

      <div class="">
        <p-button
          styleClass="p-button-raised"
          (click)="toggleForm()"
          label="Người lớn - Trẻ em - Phòng"
          ><i class="pi pi-user"></i
        ></p-button>

        <p-overlay [(visible)]="overlayVisible">
          <div class="CountRoom form-group">
            <p>Người lớn</p>
            <div>
              <button type="button" (click)="incrementDecrement('adults', -1)">
                -
              </button>
              <input
                type="number"
                id="adults"
                [(ngModel)]="adults"
                [ngModelOptions]="{ standalone: true }"
                name="adults"
              />
              <button type="button" (click)="incrementDecrement('adults', 1)">
                +
              </button>
            </div>

            <p>Trẻ em</p>
            <div>
              <button type="button" (click)="incrementDecrement('children', 1)">
                -
              </button>
              <input
                type="number"
                id="children"
                [(ngModel)]="children"
                [ngModelOptions]="{ standalone: true }"
                name="children"
              />
              <button type="button" (click)="incrementDecrement('children', 1)">
                +
              </button>
            </div>

            <p>Phòng</p>
            <div>
              <button type="button" (click)="incrementDecrement('rooms', -1)">
                -
              </button>
              <input
                type="number"
                id="rooms"
                [(ngModel)]="rooms"
                [ngModelOptions]="{ standalone: true }"
                name="rooms"
              />
              <button type="button" (click)="incrementDecrement('rooms', 1)">
                +
              </button>
            </div>
          </div>
        </p-overlay>
      </div>

      <div class="" style="text-align: center">
        <p-button
          pRipple
          (click)="show()"
          styleClass="p-button-raised"
          (click)="onSubmit()"
          label="Tìm kiếm"
          ><i class="pi pi-search"></i
        ></p-button>
        <p-toast></p-toast>
      </div>
    </div>

    <div class="checkBoxTimPhong">
      <div class="flex align-items-center gap-1">
        <p-checkbox
          name="group1"
          value="Tim Nha"
          [(ngModel)]="selectedCities"
          inputId="tn"
        ></p-checkbox>
        <label for="tn">Cho tôi xem nhà nghỉ dưỡng</label>
      </div>

      <div class="flex align-items-center gap-1">
        <p-checkbox
          name="group1"
          value="Cong Tac"
          [(ngModel)]="selectedCities"
          inputId="ct"
        ></p-checkbox>
        <label for="ct">Tôi đi công tác</label>
      </div>
    </div>
  </form>
</div>
<div class="container GoiY ChoNghiNoiBat">
  <div class="sliderLoaiChoNghi">
    <p>Tìm theo loại chỗ nghỉ</p>
    <div style="width: 100%; height: 350px; margin: 0 auto">
      <app-sliderloaichonghi
        [slidesloaichonghi]="slidesloaichonghi"
      ></app-sliderloaichonghi>
    </div>
  </div>
  <div class="sliderDiaDiem">
    <p>Các điểm đến thu hút nhất Việt Nam</p>
    <div style="width: 100%; height: 200px; margin: 0 auto">
      <app-sliderdiadiem [slidesdiadiem]="slidesdiadiem"></app-sliderdiadiem>
    </div>
  </div>

  <app-chonghinoibat></app-chonghinoibat>
</div>

<!-- <button (click)="AddDiaDiem()">Add dia diem</button>
<button (click)="DeleteDiaDiem(1)">Delete dia diem</button>
<button (click)="GetDiaDiem()">Get all</button>
<div
  class="slide"
  *ngFor="let item of slidesdiadiem; let i = index"
  [ngStyle]="{
    'background-image':
      'url(\'/assets/img/img-diadanh/' + item.tenFileAnhDD + '\')'
  }"
>
  <div>Ten: {{ item.tenDiaDiem }}</div>
  <div>Thongtinvtri: {{ item.thongTinViTri }}</div>
</div> -->
