* {
  padding: 0;
  margin: 0;
}
.container {
  margin: auto;
}
.row {
  justify-content: center;
}
.SapXep,
.FormSapXep p,
.MienPhiHuyPhong,
.MoneyRange p,
.CheckboxLoaiHinhCuTru {
  padding: 14px;
}

.FormSapXep div {
  padding: 9px 14px;
}
.FormSapXep div label {
  font-weight: 500;
}

.Loc {
  margin: 30px 14px 14px 14px;
}

.FormLoc div p {
  font-weight: 680;
  font-size: 17px;
}

.MienPhiHuyPhong p {
  padding: 3px 0;
}
.MienPhiHuyPhong label {
  font-weight: 500;
  margin-left: 5px;
}
.CheckboxMienPhiHuyPhong {
  display: flex;
}
.CheckboxMienPhiHuyPhong p {
  font-weight: 500;
  margin-left: 5px;
}
.MoneyRange {
  display: grid;
  justify-content: center;
  margin-bottom: 14px;
}

.MoneyRangeInput {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}
.MoneyRangeInput input {
  text-align: center;
  border-radius: 15px;
}
.MoneyRange p-slider {
  margin: 3px 14px;
}

.CheckboxLocSao {
  padding: 14px;
}
.CheckboxLocSao div {
  display: flex;
}

.CheckboxLocSaoItem p-checkbox {
  margin-right: 5px;
}

.LocLoaiHinhCuChuItem {
  list-style: none;
}
.LocLoaiHinhCuChuItem label {
  font-weight: 600;
  margin-left: 5px;
}

/* Hide the default increase and decrease buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
