/* Existing styles... */

.slider {
  justify-content: center;
  position: relative;
  padding-top: 13px;
}
.slide {
  display: flex; /* Set the display property to flex */
  flex-direction: row; /* Set the direction to row (default) */
  margin: 0 10px;
  position: relative; /* Add position: relative for the .slide container */
}
.slide-image {
  width: 160px;
  height: 160px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 14px;
}
.slide-price {
  display: flex; /* Set .slide-price to flex */
  flex-direction: column;
  justify-content: space-between;
  padding: 14px;
  margin-left: auto; /* Move .slide-price to the right by using margin-left: auto */
}
.titleLoaiChoO {
  margin-top: 20px;
  margin-bottom: 0;
}
.TenLoaiDonVi {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
}
.DiaDiem {
  font-size: 13px;
  color: dodgerblue;
}
.GiaPhong h6 {
  color: #003b95;
}
.HinhThucPhongTitle {
  font-size: 13px;
  color: white;
  background-color: dodgerblue;
  border-radius: 15px;
  padding: 3px 10px;
  margin-right: 5px;
}
/* Hide the default increase and decrease buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
