<div class="slider container">
  <div class="slide card">
    <!-- Details -->
    <div class="slide-content">
      <p class="TenLoaiDonVi">
        {{ listkhachsan[currentIndex + id]?.hinhThucPhong }}-{{
          listkhachsan[currentIndex + id]?.tenDonVi
        }}
      </p>
      <div class="DiaDiem" style="width: fit-content; margin: 10px 0">
        <div style="display: flex; padding-bottom: 3px">
          <p class="HinhThucPhongTitle">
            {{ listkhachsan[currentIndex + id]?.hinhThucPhong }}
          </p>
          <p-rating
            [iconOnStyle]="{ color: '#FFD200', fontSize: '15px' }"
            [ngModel]="listkhachsan[currentIndex + id]?.danhGiaSaoTb"
            [readonly]="true"
            [cancel]="false"
          ></p-rating>
        </div>

        <i class="pi pi-map-marker"></i>

        {{ listkhachsan[currentIndex + id]?.diaDiem }}
      </div>
    </div>
    <hr />
    <!-- Image -->
    <div class="row">
      <div
        class="col-lg-8 slide-main-image"
        [ngStyle]="{
          'background-image': getCurrentSlideUrl(currentIndex + id)
        }"
      ></div>
      <div
        class="col-lg-4 slide-sub-image"
        [ngStyle]="{
          'background-image': getCurrentSubSlideUrl(currentIndex + id)
        }"
      ></div>
    </div>

    <div style="display: flex" class="">
      <div class="DanhGiaPhong">
        <p>Điểm đánh giá</p>

        <h6>{{ listkhachsan[currentIndex + id]?.diemDanhGiaTB }}/10</h6>
      </div>
      <div class="GiaPhong">
        <p>Thanh toán khi nhận phòng</p>
        <h6 style="color: red">
          VND:{{ listkhachsan[currentIndex + id]?.giaPhongTheoDem }}
        </h6>
        <p>Giá cuối cùng</p>
      </div>
    </div>
  </div>
</div>
